<template>
    <div class="col-sm-6 col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {{ stock.name }}
                    <small>(Price: {{ stock.price }} | Quantity: {{ stock.quantity }})</small>
                </h3>
            </div>
            <div class="panel-body">
                <div class="pull-left">
                    <input  v-model.number="quantity" type="number" class="form-control" placeholder="Quantity">                    
                </div>
                <div class="pull-right">
                    <button 
                        @click="sellStock" 
                        :disabled="this.quantity > this.stock.quantity || this.quantity <= 0"
                        class="btn btn-success">
                        Sell 
                    </button>                    
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapMutations } from 'vuex'
export default {
    data(){
        return {
            quantity: 0
        }
    },
    props:{
        stock:{
            type: Object
        }
    },
    methods: {
        sellStock(){
            const order = {
                id: this.stock.id,
                price: this.stock.price,
                quantity: this.quantity
            }
            this.SELL_STOCK(order)
            this.quantity = 0
        },
        ...mapMutations([
            'SELL_STOCK'
        ])
    }
}
</script>

<style>

</style>
 