<template>
    <div>
        <PortfolioStock v-for="(stock,index) in stockPortfolio" :key="index" :stock="stock"  ></PortfolioStock>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import PortfolioStock from './PortfolioStock'
export default {
    components: {
        PortfolioStock
    },
    computed: {
        ...mapGetters([
            'stockPortfolio'
        ])
    }

}
</script>