<template>
    <div class="col-sm-6 col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {{ stock.name }}
                    <small>(Price: {{ stock.price }})</small>
                </h3>
            </div>
            <div class="panel-body">
                <div class="pull-left">
                    <!-- 要用modifier number -->
                    <input v-model.number="quantity" type="number" class="form-control" placeholder="Quantity">
                </div>
                <div class="pull-right">
                    <button 
                        @click="buyStock"
                        :disabled="quantity <=0 || quantity * stock.price > this.funds" 
                        class="btn btn-success">
                        buy
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapState, mapMutations } from 'vuex'
    export default {
        data() {
            return {
                quantity: 0
            }
        },        
        props:{
            stock:{
                type: Object
            }
        },
        methods: {
            buyStock(){
                const order = {
                    id: this.stock.id,
                    price: this.stock.price,
                    quantity: this.quantity
                }
                this.BUY_STOCK(order)
                this.quantity = 0;
            },
            ...mapMutations([
                'BUY_STOCK'
            ])
        },
        computed:{
            ...mapState([
                'funds'
            ])
        }
    }
</script>

<style>

</style>
 