<template>
  <div>
      <app-stock v-for="(stock,index) in stocks" :stock="stock" :key="index" ></app-stock>
  </div>
</template>

<script>
    import Stock from './Stock.vue'
    import { mapState } from 'vuex'
    export default {
        components: {
            appStock: Stock
        },
        computed: {
          ...mapState([
            'stocks'
          ])
        }  
    }
</script>

<style>

</style>
 