<template>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <router-link to="/" class="navbar-brand">Stock Trader</router-link>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <router-link to="/portfolio" activeClass="active" tag="li"><a>Portfolio</a></router-link>
                    <router-link to="/stocks" activeClass="active" tag="li"><a>Stocks</a></router-link>
                </ul>
                <strong class="navbar-text navbar-right">Funds: {{ funds | currency }}</strong>
                <ul class="nav navbar-nav navbar-right">
                    <li @click="isDropdownOpen = !isDropdownOpen" :class="{open: isDropdownOpen}" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Save & Load <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" @click="saveData">Save Data</a></li>
                            <li><a href="#" @click="loadData">Load Data</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>

<script>
    import axios from 'axios'
    import { mapState, mapMutations } from 'vuex'
    export default {
        created(){
            this.loadData()
        },
        data(){
            return {
                isDropdownOpen: false
            }
        },
        methods:{
            endDay(){
                this.RND_STOCK()
            },
            saveData(){
                axios.post('http://localhost:3000/stock-tracker',{
                    funds: this.funds,
                    portfolio: this.portfolio,
                    stocks:this.stocks,
                })
            },
            loadData(){
                axios.get('http://localhost:3000/stock-tracker')
                    .then(res => {
                        console.log(res)
                        const data = {
                            funds: res.data.funds,
                            portfolio: res.data.portfolio,
                            stocks: res.data.stocks,
                        }
                        this.LOAD_STOCK(data)
                    })
            },
            ...mapMutations([
                'RND_STOCK',
                'LOAD_STOCK',
            ])
        },
        computed: {
            ...mapState([
                'funds',
                'portfolio',
                'stocks'
            ])
        }
    }
</script>